{% extends 'make-gallery/base.html' %}
{% block content %}
  {{block.super}}

  <div class="container">
    <div class="row">
      <div class="col-md-12 gallery">
        {% for image in all_images %}
       
      <a data-fancybox="gallery" href="{{image.image.url}}" class="collection" title="{{image.name}}" data-caption="{{image.description}}"><img src="{{image.image.url}}" alt="Zoomed-image">
      </a>
    
        {% endfor %}
      </div>
      
    </div>
  </div>
  <!-- <script type="text/javascript">
    $('[data-fancybox]').fancybox({
      protect: true,
      closeExisting: false,
      keyboard: true,
      preventCaptionOverlap: true,
      arrows: true,
      loop:true,
      buttons: [
        "zoom",
        //"share",
        "slideShow",
        "fullScreen",
        "download",
        "thumbs",
        "close"
      ],
      animationEffect: "fade",
      selector : '[data-fancybox="gallery"]',
      loop     : true,
      caption : function(instance, item) {
        return this.dataset.caption || '';
      }
    });
  </script> -->
{% endblock %}